%pr-grid-ul {
	letter-spacing: -0.31em;
	/* Webkit: collapse white-space between units */
	*letter-spacing: normal;
	/* reset IE < 8 */
	*word-spacing: -0.43em;
	/* IE < 8: collapse white-space between units */
	text-rendering: optimizespeed;
	/* Webkit: fixes text-rendering: optimizeLegibility */
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;

	/* IE10 uses display: flexbox */
	display: -ms-flexbox;
	-ms-flex-flow: row wrap;

	/* Prevents distributing space between rows */
	-ms-align-content: flex-start;
	-webkit-align-content: flex-start;
	align-content: flex-start;
}

%pr-grid-li {
	display: inline-block;
	*display: inline;
	/* IE < 8: fake inline-block */
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

